

.split{
    border-bottom: 4px solid $colour-secondary;  
}
 //////////// BANNIÈRE 

.banniere{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    background-color: $colour-fond;
    .img{
        margin-right: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 25rem;
        width: 100rem;
        @include responsive(tablet){
            width: 48rem;
            height: 20rem;
            margin-right: 60px;
        }
        @include responsive(mobile){
            width: 36rem;
            height: 15rem;
            margin-right: 63.5px;
        }
    }
    .banniere_text{
        width: inherit;
        position: absolute;
        @include font-weight;
        margin-top: 30px;
        margin-bottom: 10px;
        @include responsive(tablet){
            margin-right: 60px;
            }
        @include responsive(mobile){
            margin-right: 70px;
        }
        h1{
            font-size: 70px;
            @include font-weight(800); 
            margin-top: 100px;
            color: $colour-white;
            @include responsive(tablet){
                font-size: 50px;
            }
            @include responsive(mobile){
                font-size: 45px;
            }
        }
        h2{
            font-size: 40px;
            @include font-weight(600); 
            color: $colour-black;
            @include responsive(tablet){
                font-size: 30px;
            }
            @include responsive(mobile){
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }
    .banniere-load{
        animation: name-load 1s ease-in-out forwards;
        transform: scale(0);
    }
    .banniere-load2{
        animation: name-load 1s ease-in-out 800ms forwards;
        transform: scale(0);
        @keyframes name-load{
            0%{
                transform: translate(-100%);
            }
            100%{
                transform: translate(0);
            }
        }
    }
}

//////////// HOME PAGE 

.container{
    background-color: $colour-fond;
    @include border;  
    .titre{
        margin-top: 80px;
        @include font-weight(600);
        font-size: 35px; 
        color: $colour-black;
        @include responsive(tablet){
            font-size: 30px;
        }  
    }
        .sous_titre{
            @include font-weight(400);
            font-size: 25px;
            color: $colour-black;
            padding-bottom: 80px;
            @include responsive(tablet){
                font-size: 20px;
            }  
        }
    .produits-photos{
        @include flex(row, space-between);
        margin-top: 80px;
        margin-bottom: 80px;
        @include responsive(tablet){
            align-items: center;
            margin-top: 30px;
        }
        @include responsive(mobile){
            @include flex(column, space-around);
            margin-top: 30px;
            align-items: center;
        }
    }
        .produits_img{
            width: 50%;
            @include flex(column, space-around);
            align-items: center;
        }
        .images{
            @include responsive(tablet){
                width: 300px;
                height: 350px;
                object-fit: cover;
            }
            @include responsive(mobile){
                width: 350px;
                height: 300px;
                object-fit: cover;
                margin-bottom: 10px;
            }
            width: 400px;
            height: 400px;
            object-fit: cover;
            border: 3px solid $colour-tertiary;
            border-radius: 15px 15px;
            &:hover{
                width: 450px;
                height: 450px; 
            }
        }
    .produits_descriptions{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .texte_description{
            width: 500px;
            @include font-weight; 
            background-color: $colour-primary;
            border-radius: 15px 15px;
            @include flex(column, space-evenly);
            align-items: center;
            @include responsive(tablet){
                width: 350px;
            }
            @include responsive(mobile){
                width: 450px;
                margin-bottom: 20px;
            }
            }
        .texte_description p{
            padding-top: 30px;
            font-style: oblique;
            @include font-weight;
            color: $colour-white;
            @include responsive(tablet){
                
            }
            
        } 
            .teddy-nom{
                @include font-weight(bolder);
                font-size: 40px;
                font-family: fantasy;
                @include responsive(mobile){
                    font-size: 35px
                }
            }
            .ted-id {
                border-bottom: 1px solid $colour-secondary;
                @include responsive(tablet){

                }
                @include responsive(mobile){
                    font-size: 20px;
                    
                }  
            }
            .teddy-des{
                @include font-weight(bolder);
                font-size: 25px;
                font-family: fantasy;
                @include responsive(tablet){

                }
                @include responsive(mobile){
                    font-size: 20px;
                    
                }
            }
            .teddy-prix{
                @include font-weight;
                font-size: 30px;
            }
}

//////////// PAGE 2 PRODUIT 

.container-produit{
    @include border; 
    .titre{
        margin-top: 80px;
        @include font-weight(600);
        font-size: 35px; 
        color: $colour-black;   
    }
        .sous_titre{
            @include font-weight(400);
            font-size: 25px;
            color: $colour-black;
            padding-bottom: 80px;
            @include responsive(tablet){
                padding-bottom: 10px;
                height: auto;
            }
            @include responsive(mobile){
                height: auto;
                padding-bottom: 10px;
            }
        }
    .photo-produit{
        height: 600px;
        @include flex(row, center);
        align-items: center;
        margin-top: 80px;
        margin-bottom: 80px;
        @include responsive(tablet){
            @include flex(column, space-evenly);
            margin-top: 10px;
            height: auto;
        }
        @include responsive(mobile){
            @include flex(column, space-evenly);
            margin-top: 10px;
            height: auto;
        }
    }
    .produit_img{  
        width: 50%;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: produit-load 1s ease-in-out 500ms forwards;
        transform: scale(0);
        @include responsive(tablet){
            width: 100%;
        }
        @include responsive(mobile){
           width: 100%;
        }
    }
        .image{
            @include responsive(tablet){
                width: 480px;
                height: 450px;
            }
            @include responsive(mobile){
                width: 450px;
                height: 450px;
            }
            width: 550px;
            height: 550px;
            object-fit: cover;
            border: 3px solid $colour-tertiary;
            border-radius: 30px 30px;
            animation: produit-load 1s ease-in-out 500ms forwards;
            transform: scale(0);
            &:hover{
            width: 650px;
            height: 650px;
            }
        }
    .produit_description{
        width: 50%;
        @include flex(column, space-around);
        align-items: center;
        animation: produit-load 1s ease-in-out 1s forwards;
        transform: scale(0);
    }
        .texte_description-produit{
            @include responsive(tablet){
                width: 540px;
                height: 500px
            }
            @include responsive(mobile){
                width: 480px;
                height: 400px;
            }
            width: 600px;
            height: 550px;
            @include font-weight;
            background-color: $colour-primary;
            border-radius: 30px 30px;
            @include flex(column, space-evenly);
            align-items: center;
            padding-bottom: 60px;
            padding-top: 60px;
        }
        .produit_description p{
            font-style: oblique;
            @include font-weight;
            color: $colour-white;
        }
            .teddy-nom{
                @include font-weight(bolder);
                font-size: 40px;
                font-family: fantasy;
                margin-top: 60px;
                margin-bottom: 40px;
                @include responsive(tablet){
                }
                @include responsive(mobile){
                    font-size: 35px
                }
            }
            .teddy-des{
                @include font-weight(bolder);
                font-size: 25px;
                font-family: fantasy;
                margin-bottom: 40px;
                @include responsive(tablet){
                }
                @include responsive(mobile){
                    font-size: 25px
                }
            }
            .teddy-prix{
                @include font-weight;
                font-size: 35px;
            }
            .choix-quantity{
                @include flex(row, space-evenly);
                width: inherit;
                margin-top: 40px;
                margin-bottom: 30px;
                margin-left: 90px;
                color: #fff;
                font-size: 20px;
            }
            .teddy-choix{
                width: 190px;
                height: 40px;
                border-radius: 15px 15px;
                align-self: center;
                margin-top: 25px;
                margin-bottom: 20px;
                margin-left: -266px;
                cursor: pointer;
                background-color: $colour-white;
                color: #000;
                font-size: 18px; 
            }
            .teddy-quantity{
                width: 50px;
                height: 40px;
                border-radius: 15px 15px;
                align-self: center;
                margin-top: 25px;
                margin-bottom: 20px;
                margin-left: -145px;
                cursor: pointer;
                background-color: $colour-white;
                color: #000;
                font-size: 18px;
            }
            .teddy-prixtotal{
                @include font-weight;
                font-size: 30px;
            }
            @keyframes produit-load{
                0%{
                    transform: scale(0);
                }
                100%{
                    transform: scale(1);
                }
            }
}

    //////////// PAGE 3 PANIER 

main{
    @include border;
    .panier-vide{
        height: 400px;//oter
        @include font-weight(600);
        font-size: 35px; 
        font-style: oblique;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 4px solid $colour-secondary;//oter 
        .fas{
            color: $colour-black;
        }
    }
    .container-panier{
        @include flex(row, space-evenly);
        flex-wrap: wrap;
    }
    h1{
        margin-bottom: 80px;
        margin-top: 80px;
        @include font-weight(600);
        font-size: 35px; 
        color: $colour-black;
    }
    .item-panier{
        @include flex(row, center);
        flex-wrap: wrap;
        margin-right: 30px;
    }
        .panier_uno{
            width: 200px;
            margin-right: 60px;
            margin-left: 60px;
            @include responsive(mobile){
               @include flex(row, center);
            }
        }
        .panier_img{
            width: 250px;
            height: 250px;
            border: 3px solid $colour-tertiary;
            border-radius: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include responsive(mobile){
                width: 200px;
                height: 200px;
            } 
        }
        .panier_description{
            @include flex(column, center);
            margin-left: 50px;
            margin-top: 20px;
            margin-bottom: 80px;
        }
        .texte_description-panier{
            font-style: oblique;
            @include font-weight;
            color: $colour-black;
        }
        .teddy-nom{
            @include font-weight(bolder);
            font-size: 25px;
            font-family: fantasy;
        }
        .teddy-quantity{
            @include font-weight(bolder);
            font-size: 20px;
        }
        .teddy-total{
            @include font-weight(bolder);
            font-size: 20px;
        }
        .prix-panier p{
            margin-top: 140px;
            margin-left: -370px;
            font-size: 30px;
            @include font-weight;
            text-align: center;
            @include responsive(mobile){
                margin-right: 330px;
            }
        }
        
}
    // PAGE 4 CONFIRMATION 
    
.confirmation{
    height: 450px;
    font-size: 30px;
    @include flex(column, center); 
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    @include border;
    .confirmation__resume{ 
        @include responsive(tablet){
            font-size: 25px;
        }
        @include responsive(mobile){
            font-size: 25px;
        }    
    }
    .remerciement{
        border-left: 3px solid $colour-primary;
        border-right: 3px solid $colour-primary;
        padding-left: 30px;
        padding-right: 30px;
    }
    .confirmation_id{
        width: 700px;
        margin-top: 90px;
        @include font-weight;
        border-bottom: 3px solid $colour-tertiary;
        margin-left: 70px;
        @include responsive(tablet){
            font-size: 30px;
            margin-right: 75px;
        }
        @include responsive(mobile){
            font-size: 25px;
            width: 400px;
            display: inline-flex;
            flex-wrap: wrap;
            margin-right: 75px;
        }
    }
}
//LOADER CONFIRMATION
    .loader{
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: 1;
        @include flex(column, center);
        align-content: center;
        animation: confirm-loader 5s both;
    }
    @keyframes confirm-loader{
        100%{
            opacity: 0;
            z-index: -10;
        }
    }
    .loader .fas{
        color: $colour-primary;
        font-size: 100px;
        animation: flash 1.5s ease-in-out both infinite;
    }
    @keyframes flash{
        0%{
            color: $colour-primary; 
        }
        50%{
            color: $colour-secondary;
        }
        100%{
            color: $colour-tertiary; 
        }
    }
    .loader .fas:nth-child(1){
        animation-delay: 0.2s;
        
    }
    .loader .fas:nth-child(2){
        animation-delay: 0.4s;
    }
    .loader .fas:nth-child(3){
        animation-delay: 0.6s;
    }
    .icon{
        padding-left: 50px;
    }
    .loader p{
        color: $colour-white;
        @include font-weight(900);
        font-size: 70px;
        margin-left: 80px;
    }

