footer{
    @include flex(row, space-evenly); 
    margin-bottom: 30px;
    @include responsive(mobile){
        font-size: 12px;
    }
    h2{
        margin-top: 50px;
        margin-bottom: 30px;
        @include font-weight(600);
        color: $colour-black;
        @include responsive(mobile){
            font-size: 19px;
        }
    }
    .marge{
        text-align: start;
    }
    p{
        text-align: start;
        font-size: 20px;
        @include font-weight(400);
        color: $colour-black;
    }
    .fab{
        @include font-weight(400);
        font-size: 25px;
        margin-bottom: 10px;
        color: $colour-black;
    }
}