        /* PAGE 3 PANIER*/

.form{
    visibility: hidden;
    height: inherit;
    @include flex(column, space-evenly);
    position: absolute;
    text-align: center;
    background: $colour-tertiary;
    width: 70%;
    height: 100%;
    border: 5px solid $colour-secondary;
    border-radius: 20px 20px;    
    &:target{
    visibility: visible;
    opacity: 0.9;
    }
    fieldset{
        top: 90%;//changer
        right: 219px;
    }
    legend{
        font-size: 40px;
        @include font-weight(800);
        font-style: oblique;    
        color: $colour-black;
        text-shadow: 2px 2px 1px $colour-black;
        margin-bottom: 30px;
    }
    label{
        @include font-weight(900);
        font-size: 25px;
        color: $colour-white;
    }
    span{
        color: red;
        font-size: 30px;
        font-weight: 900;
    }
    .label-marge{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .box_size2 input{
        width: 300px;
        height: 40px;
        border: 3px solid $colour-secondary;
        border-radius: 10px 10px;
        font-size: 20px;
        color: $colour-black;
    }
}
