header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
img{
    margin-left: 50px;
}
nav{
    width: 100%;
    display: flex;
    margin-right: 50px;
    justify-content: flex-end;
    margin-top: 150px;
}
ul{
    display: flex;
    list-style-type: none;
}
ul li{
    padding-right: 40px;
    font-size: 20px;
}