header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 2rem 2rem;
    align-items: baseline;
    background-color: #F3E9F1;
}
.logo{
    width: 25rem;
    margin-top: 20px;
    margin-bottom: 20px;
} 
nav{
    justify-content: flex-end;   
}
ul{
    display: flex;
    list-style-type: none;   
}
ul li{
    padding-right: 40px;
    padding-top: 15px;
    border: 1px solid#F3E9F1 ;
    border-radius: 20px 20px;
    height: 40px;
    color: #000;
}
ul li:hover{
    border: 1px solid #F3E9F1;
    border-radius: 20px;
    background-color: #ffffff90;
    height: 40px;
    
}
li a{
    font-size: 25px;
    font-weight: 600;
    padding-left: 30px;
    color: #000;

}
.panier_marge{
    padding-left: 40px;
    color: #000;
}
.fas{
    color: rgba(0, 0, 0, 0.537);
    padding-left: 10px;
}