*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    a{
        text-decoration: none;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: $colour-fond;
    margin-right: 40px;
    margin-left: 40px;
}
