
@mixin flex($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin border {
    border-top: 4px solid $colour-secondary;
    border-bottom: 4px solid $colour-secondary;
}

@mixin font-weight($font: bold){
    font-weight: $font;
  }

@mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
      @media screen and (max-width: 599px){@content;}
    }
    @if $breakpoint == tablet {
      @media screen and (min-width: 600px) and (max-width: 900px){@content;}
    }
  }