
$colour-primary: rgba(205, 134, 63, 0.77);
$colour-secondary: rgba(221, 160, 221, 0.989);
$colour-tertiary: rgba(80, 43, 226, 0.777);
$colour-fond : #F3E9F1;
$colour-black : #000;
$colour-white : #fff;


$breakpoint: (mobile: 599px, tablet: 800px);